/* common */
$containerMaxWidth: 1740px;

/* fonts*/
$fontStandart: 'Arial, sans-serif';
$MontserratRegular: 'Montserrat-Regular';
$MontserratBold: 'Montserrat-Bold';
$MontserratItalic: 'Montserrat-ItalicBold';
$MontserratMedium: 'Montserrat-Medium';


/* colors */
$white: #fff;
$black: #000;
$greyF4: #f4f4f4;
$greyD9: #d9d9d9;
$black0C: #0c0c0c;
$black49: #494949;
$blueC5: #3922C5;
$blue9A: #2C1A9A;
$blue68: #1F1368;

